openapi: 3.1.1
info:
  title: AI Chat Bot API
  description: |
    # AI Chat Bot API

    ## Основные возможности: 

    <details>
      <summary style="font-size: 1.17em; font-weight: bold;">Управление ботами</summary>
      <div style="padding: 15px; font-size: 0.9em;">
      
      - Создание и настройка чат-ботов
      - Кастомизация внешнего вида и поведения
      - Управление базой знаний через промпты
      </div>
    </details>

    <details>
    <summary style="font-size: 1.17em; font-weight: bold;">Безопасность и доступ</summary>
    <div style="padding: 15px; font-size: 0.9em;">

    - Система аутентификации пользователей
    - Управление API ключами
    - Разграничение прав доступа
    - Защита данных и приватность
    </div>
    </details>

    <details>
    <summary style="font-size: 1.17em; font-weight: bold;">Коммуникация</summary>
    <div style="padding: 15px; font-size: 0.9em;">

    - История сообщений и диалогов
    - Контекстные ответы
    </div>
    </details>

    <details>
    <summary style="font-size: 1.17em; font-weight: bold;">Аналитика и мониторинг</summary>
    <div style="padding: 15px; font-size: 0.9em;">

    - Сбор статистики использования
    - Анализ эффективности ботов
    - Мониторинг производительности
    - Отчеты и метрики
    </div>
    </details>

    <details>
    <summary style="font-size: 1.17em; font-weight: bold;">Управление контентом</summary>
    <div style="padding: 15px; font-size: 0.9em;">

    - Загрузка и обработка PDF документов
    - Управление промптами и шаблонами
    - Новостная система
    - Уведомления пользователей
    </div>
    </details>

    <details>
    <summary style="font-size: 1.17em; font-weight: bold;">Техническая информация</summary>
    <div style="padding: 15px; font-size: 0.9em;">

    - RESTful API
    - JSON формат данных
    - Bearer Token аутентификация
    - CORS поддержка
    - Swagger/OpenAPI документация
    </div>
    </details>

    ## Ресурсы
    * [Документация API](https://chat-api.esoraine.online/docs)
    * [GitHub репозиторий](@@@)
    * [Scalar UI](https://scalar.com)

  version: 1.0.0
  contact:
    name: Skillfactory hackaton
    url: https://chat-api.esoraine.online/
    email: info@esoraine.online
servers:
  - url: https://chat-api.esoraine.online
  - url: http://localhost:3000
    description: Responds with your request data
    variables:
      protocol:
        enum:
          - https
        default: https
      path:
        default: ''
security:
  - bearerAuth: []
  - basicAuth: []

tags:
  - name: Auth
    description: |
      Операции, связанные с аутентификацией пользователей. 
      Включает регистрацию, вход в систему, выход и обновление токенов. 
      Эти операции позволяют пользователям безопасно взаимодействовать с API, обеспечивая защиту их данных.

  - name: Auth options
    description: |
      Дополнительные операции, связанные с аутентификацией, такие как восстановление пароля, активация учетной записи и повторная отправка ссылки для активации. 
      Эти операции помогают пользователям управлять своими учетными записями и восстанавливать доступ к ним.

  - name: Users
    description: |
      Операции, связанные с управлением пользователями. 
      Включает создание, обновление, удаление и получение информации о пользователях. 
      Эти операции позволяют администраторам и пользователям управлять своими профилями и данными.

  - name: Statistics
    description: |
      Операции, связанные с получением статистики и аналитики. 
      Включает сбор и отображение данных о взаимодействии пользователей с системой, 
      а также метрики производительности и использования API. 
      Эти операции помогают в анализе и оптимизации работы приложения.

  - name: API Keys
    description: |
      Операции для управления API ключами. 
      Включает создание, обновление, удаление и получение API ключей.
      Позволяет пользователям управлять доступом к API, контролировать права доступа
      и обеспечивать безопасное взаимодействие с системой.
      API ключи используются для аутентификации запросов к чат-ботам.

  - name: Bots
    description: |
      Операции для управления чат-ботами. 
      Включает создание новых ботов, настройку их параметров, 
      управление поведением и интеграцию с различными платформами.
      Позволяет настраивать индивидуальное поведение каждого бота,
      управлять его знаниями и контролировать взаимодействие с пользователями.

  - name: Customization
    description: |
      Операции для настройки внешнего вида и поведения чат-ботов.
      Включает настройку цветовой схемы, стилей сообщений,
      приветственных сообщений и других визуальных элементов.
      Позволяет создавать уникальный дизайн для каждого бота,
      соответствующий фирменному стилю компании.

  - name: Prompts
    description: |
      Операции для управления промптами (инструкциями) чат-ботов.
      Включает создание, редактирование и удаление промптов,
      загрузку промптов из PDF файлов, управление категориями.
      Позволяет настраивать базу знаний бота и определять
      его поведение в различных ситуациях общения с пользователями.

  - name: Chats
    description: |
      Операции для управления чатами и сообщениями.
      Включает создание новых чатов, отправку сообщений,
      получение истории переписки и управление диалогами.

  - name: Bot Presets
    description: |
      Операции для управления предустановленными настройками ботов.
      Включает создание и управление шаблонами настроек,
      которые определяют базовое поведение и конфигурацию ботов.
      Позволяет быстро создавать новых ботов на основе готовых шаблонов,
      экономя время на настройке стандартных параметров.

  - name: Orders
    description: |
      Операции для управления заявками на консультацию.

  - name: News
    description: |
      Операции для управления новостями и уведомлениями.
      Включает создание, публикацию и управление новостными материалами,
      информирование пользователей об обновлениях и изменениях в системе.
      Позволяет администраторам управлять контентом и
      поддерживать информированность пользователей о важных событиях.

paths:
  # Auth
  /api/v1/auth/registration:
    post:
      tags:
        - Auth
      summary: Регистрация нового пользователя
      description: Этот эндпоинт позволяет зарегистрировать нового пользователя в системе.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 2
                  description: Имя пользователя, должно содержать не менее 2 символов.
                email:
                  type: string
                  format: email
                  description: Уникальный адрес электронной почты для входа.
                password:
                  type: string
                  minLength: 8
                  description: Пароль пользователя, должен содержать не менее 8 символов.
                passwordConfirm:
                  type: string
                  description: Подтверждение пароля, должно совпадать с полем password.
              required:
                - name
                - email
                - password
                - passwordConfirm
      responses:
        '201':
          description: Успешная регистрация
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Пользователь успешно зарегистрирован.'
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Уникальный идентификатор зарегистрированного пользователя.
                      email:
                        type: string
                        description: Адрес электронной почты зарегистрированного пользователя.
        '400':
          description: Ошибка валидации
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Ошибка валидации: имя должно содержать не менее 2 символов.'
        '409':
          description: Конфликт (например, email уже существует)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Пользователь с таким адресом электронной почты уже существует.'
  /api/v1/auth/login:
    post:
      tags:
        - Auth
      summary: Вход пользователя
      description: Этот эндпоинт позволяет пользователю войти в систему, используя свои учетные данные.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  description: Уникальный адрес электронной почты для входа.
                password:
                  type: string
                  description: Пароль пользователя.
              required:
                - email
                - password
      responses:
        '200':
          description: Успешный вход
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Успешный вход.'
                  token:
                    type: string
                    description: JWT токен для аутентификации.
        '400':
          description: Ошибка валидации
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Ошибка валидации: неверный формат email.'
        '401':
          description: Неверные учетные данные
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Неверный email или пароль.'
  /api/v1/auth/me:
    get:
      tags:
        - Auth
      summary: Получить информацию о текущем пользователе
      description: Этот эндпоинт позволяет получить информацию о текущем аутентифицированном пользователе.
      responses:
        '200':
          description: Успешный ответ с информацией о пользователе
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Уникальный идентификатор пользователя.
                      email:
                        type: string
                        description: Адрес электронной почты пользователя.
                      name:
                        type: string
                        description: Имя пользователя.
                      role:
                        type: string
                        description: Роль пользователя (например, администратор, менеджер).
                      createdAt:
                        type: string
                        format: date-time
                        description: Дата и время создания учетной записи пользователя.
                      updatedAt:
                        type: string
                        format: date-time
                        description: Дата и время последнего обновления информации о пользователе.
        '401':
          description: Ошибка аутентификации
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Пользователь не аутентифицирован.'
  /api/v1/auth/refresh:
    post:
      tags:
        - Auth
      summary: Обновление токена
      description: Этот эндпоинт позволяет обновить токен доступа, используя refresh-токен.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken:
                  type: string
                  description: Refresh-токен, используемый для получения нового access-токена.
              required:
                - refreshToken
      responses:
        '200':
          description: Успешное обновление токена
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  accessToken:
                    type: string
                    description: Новый access-токен для аутентификации.
                  expiresIn:
                    type: integer
                    description: Время жизни нового токена в секундах.
        '400':
          description: Ошибка валидации
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Ошибка валидации: refreshToken обязателен.'
        '401':
          description: Неверный или истекший refresh-токен
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Неверный или истекший refresh-токен.'
  /api/v1/auth/logout:
    post:
      tags:
        - Auth
      summary: Выход пользователя
      description: Этот эндпоинт позволяет пользователю выйти из системы, удаляя токены аутентификации.
      responses:
        '200':
          description: Успешный выход
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Успешный выход.'
        '401':
          description: Ошибка аутентификации
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Пользователь не аутентифицирован.'
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Произошла ошибка при выходе.'

  # Auth options
  /api/v1/users/activation:
    get:
      tags:
        - Auth options
      summary: Активация учетной записи
      description: Этот эндпоинт позволяет активировать учетную запись пользователя с использованием активационного токена.
      parameters:
        - name: token
          in: query
          required: true
          description: Активационный токен, полученный пользователем.
          schema:
            type: string
      responses:
        '200':
          description: Успешная активация учетной записи
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Учетная запись успешно активирована.'
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                      email:
                        type: string
                      isActive:
                        type: boolean
        '400':
          description: Ошибка валидации
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Активационный токен обязателен.'
        '404':
          description: Неверный токен активации
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Неверный активационный токен.'
        '410':
          description: Токен активации истек
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Активационный токен истек.'
  /api/v1/users/resend-activation:
    post:
      tags:
        - Auth options
      summary: Повторная отправка активационного токена
      description: Этот эндпоинт позволяет повторно отправить активационный токен на email пользователя.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  description: Адрес электронной почты для повторной отправки активационного токена.
              required:
                - email
      responses:
        '200':
          description: Успешная отправка активационного токена
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Активационный токен повторно отправлен на ваш email.'
        '404':
          description: Пользователь не найден
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Пользователь с таким email не найден.'
  /api/v1/users/change-password:
    patch:
      tags:
        - Auth options
      summary: Изменение пароля пользователя
      description: Этот эндпоинт позволяет пользователю изменить свой пароль.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                currentPassword:
                  type: string
                  description: Текущий пароль пользователя.
                newPassword:
                  type: string
                  description: Новый пароль пользователя.
                passwordConfirm:
                  type: string
                  description: Подтверждение нового пароля.
              required:
                - currentPassword
                - newPassword
                - passwordConfirm
      responses:
        '200':
          description: Успешное изменение пароля
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Пароль успешно изменен.'
        '400':
          description: Ошибка валидации
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Ошибка валидации: новый пароль должен содержать не менее 8 символов.'
        '401':
          description: Неверный текущий пароль
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Неверный текущий пароль.'
  /api/v1/users/forgot-password:
    post:
      tags:
        - Auth options
      summary: Восстановление пароля
      description: Этот эндпоинт позволяет пользователю запросить восстановление пароля.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  description: Адрес электронной почты для восстановления пароля.
              required:
                - email
      responses:
        '200':
          description: Успешный запрос на восстановление пароля
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Инструкции по восстановлению пароля отправлены на ваш email.'
        '404':
          description: Пользователь не найден
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Пользователь с таким email не найден.'
  /api/v1/users/reset-password:
    post:
      tags:
        - Auth options
      summary: Сброс пароля
      description: Этот эндпоинт позволяет пользователю сбросить пароль, используя токен сброса.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: Токен для сброса пароля.
                newPassword:
                  type: string
                  description: Новый пароль пользователя.
                passwordConfirm:
                  type: string
                  description: Подтверждение нового пароля.
              required:
                - token
                - newPassword
                - passwordConfirm
      responses:
        '200':
          description: Успешный сброс пароля
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Пароль успешно сброшен.'
        '400':
          description: Ошибка валидации
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Ошибка валидации: новый пароль должен содержать не менее 8 символов.'
        '401':
          description: Неверный токен
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Неверный или истекший токен сброса пароля.'

  # Users
  /api/v1/users/create-business:
    post:
      tags:
        - Users
      summary: Создание бизнес-пользователя
      description: Этот эндпоинт позволяет создать нового бизнес-пользователя. Доступен только для администраторов.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  description: Email пользователя.
                name:
                  type: string
                  minLength: 2
                  description: Имя пользователя.
                companyName:
                  type: string
                  minLength: 2
                  description: Название компании.
                phone:
                  type: string
                  pattern: ^(\+7|7|8)?[\s\-]?\(?[489][0-9]{2}\)?[\s\-]?[0-9]{3}[\s\-]?[0-9]{2}[\s\-]?[0-9]{2}$
                  description: Номер телефона.
                telegram:
                  type: string
                  pattern: ^@[a-zA-Z0-9_]{5,32}$
                  description: Username в Telegram.
              required:
                - email
      responses:
        '201':
          description: Бизнес-пользователь успешно создан
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      email:
                        type: string
                      name:
                        type: string
                      companyName:
                        type: string
                      phone:
                        type: string
                      telegram:
                        type: string
                      role:
                        type: string
                        enum: [business]
                      isActive:
                        type: boolean
                      createdAt:
                        type: string
                        format: date-time
  /api/v1/users/create-manager:
    post:
      tags:
        - Users
      summary: Создание менеджера
      description: Этот эндпоинт позволяет создать нового менеджера. Доступен для бизнес-пользователей.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  description: Email менеджера.
                apiKeyId:
                  type: string
                  description: ID API ключа, к которому будет привязан менеджер.
                name:
                  type: string
                  minLength: 2
                  description: Имя менеджера.
                phone:
                  type: string
                  pattern: ^(\+7|7|8)?[\s\-]?\(?[489][0-9]{2}\)?[\s\-]?[0-9]{3}[\s\-]?[0-9]{2}[\s\-]?[0-9]{2}$
                  description: Номер телефона.
                telegram:
                  type: string
                  pattern: ^@[a-zA-Z0-9_]{5,32}$
                  description: Username в Telegram.
              required:
                - email
                - apiKeyId
      responses:
        '201':
          description: Менеджер успешно создан
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                          email:
                            type: string
                          name:
                            type: string
                          phone:
                            type: string
                          telegram:
                            type: string
                          role:
                            type: string
                            enum: [manager]
                          isActive:
                            type: boolean
                          apiKeyIds:
                            type: array
                            items:
                              type: string
        '403':
          description: Доступ запрещен
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Access denied. Only business users can create managers.'
  /api/v1/users/remove-manager:
    post:
      tags:
        - Users
      summary: Удаление менеджера
      description: Этот эндпоинт позволяет удалить менеджера из системы.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                managerId:
                  type: string
                  description: Уникальный идентификатор менеджера, которого нужно удалить.
              required:
                - managerId
      responses:
        '200':
          description: Успешное удаление менеджера
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Менеджер успешно удален.'
        '404':
          description: Менеджер не найден
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Менеджер с таким ID не найден.'
  /api/v1/users/{id}:
    get:
      tags:
        - Users
      summary: Получение детальной информации о пользователе
      description: Этот эндпоинт возвращает подробную информацию о пользователе, включая связанные API ключи. Доступен только для администраторов.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Уникальный идентификатор пользователя.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Успешное получение информации о пользователе
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          email:
                            type: string
                          name:
                            type: string
                          role:
                            type: string
                            enum: [administrator, business, manager]
                          isActive:
                            type: boolean
                          companyName:
                            type: string
                            nullable: true
                          phone:
                            type: string
                            nullable: true
                          telegram:
                            type: string
                            nullable: true
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
                      keys:
                        type: object
                        properties:
                          owned:
                            type: array
                            description: API ключи, где пользователь является владельцем
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                title:
                                  type: string
                                owner:
                                  type: string
                                isActive:
                                  type: boolean
                                expiredAt:
                                  type: string
                                  format: date-time
                          accessed:
                            type: array
                            description: API ключи, к которым у пользователя есть доступ как у менеджера
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                title:
                                  type: string
                                owner:
                                  type: string
                                isActive:
                                  type: boolean
                                expiredAt:
                                  type: string
                                  format: date-time
        '403':
          description: Доступ запрещен
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Access denied. Only administrators can view user details.'
        '404':
          description: Пользователь не найден
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'User not found'
  /api/v1/users/update:
    patch:
      tags:
        - Users
      summary: Обновление информации о пользователе
      description: Этот эндпоинт позволяет обновить информацию о пользователе. Доступен только для администраторов.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                  description: ID пользователя для обновления.
                name:
                  type: string
                  minLength: 2
                  description: Новое имя пользователя.
                companyName:
                  type: string
                  minLength: 2
                  description: Новое название компании.
                phone:
                  type: string
                  pattern: ^(\+7|7|8)?[\s\-]?(\(\d{3}\)|\d{3})[\s\-]?\d{3}[\s\-]?\d{2}[\s\-]?\d{2}$
                  description: Новый номер телефона.
                telegram:
                  type: string
                  pattern: ^@[a-zA-Z0-9_]{5,32}$
                  description: Новый username в Telegram.
                role:
                  type: string
                  enum: [administrator, business, manager]
                  description: Новая роль пользователя.
                isActive:
                  type: boolean
                  description: Новый статус активности пользователя.
              required:
                - userId
      responses:
        '200':
          description: Информация о пользователе успешно обновлена
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      email:
                        type: string
                      name:
                        type: string
                      companyName:
                        type: string
                      phone:
                        type: string
                      telegram:
                        type: string
                      role:
                        type: string
                      isActive:
                        type: boolean
                      createdAt:
                        type: string
                        format: date-time
                      updatedAt:
                        type: string
                        format: date-time
        '400':
          description: Ошибка валидации
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
        '403':
          description: Доступ запрещен
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Access denied. Only administrators can update users.'
  /api/v1/users/delete:
    post:
      tags:
        - Users
      summary: Удаление пользователя
      description: Этот эндпоинт позволяет удалить пользователя из системы. Доступен только для администраторов.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                  description: Уникальный идентификатор пользователя для удаления.
              required:
                - userId
      responses:
        '200':
          description: Пользователь успешно удален
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        example: 'User and associated API keys have been deactivated'
                      deletedUser:
                        type: object
                        properties:
                          id:
                            type: string
                          email:
                            type: string
                          role:
                            type: string
        '403':
          description: Доступ запрещен
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Access denied. Only administrators can delete users.'
  /api/v1/users/stats:
    get:
      tags:
        - Users
        - Statistics
      summary: Получение статистики пользователей
      description: Этот эндпоинт возвращает общую статистику по пользователям системы. Доступен только для администраторов.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Успешное получение статистики
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Общее количество пользователей в системе.
                  byRole:
                    type: object
                    description: Распределение пользователей по ролям.
                    properties:
                      administrator:
                        type: integer
                        description: Количество администраторов.
                      business:
                        type: integer
                        description: Количество бизнес-пользователей.
                      manager:
                        type: integer
                        description: Количество менеджеров.
                  byStatus:
                    type: object
                    description: Распределение пользователей по статусу активности.
                    properties:
                      active:
                        type: integer
                        description: Количество активных пользователей.
                      inactive:
                        type: integer
                        description: Количество неактивных пользователей.
                  withKeys:
                    type: object
                    description: Статистика по наличию API ключей.
                    properties:
                      with:
                        type: integer
                        description: Количество пользователей с API ключами.
                      without:
                        type: integer
                        description: Количество пользователей без API ключей.
                  recent:
                    type: object
                    description: Статистика за последние 30 дней.
                    properties:
                      total:
                        type: integer
                        description: Общее количество новых пользователей.
                      byRole:
                        type: object
                        description: Распределение новых пользователей по ролям.
                        properties:
                          administrator:
                            type: integer
                            description: Количество новых администраторов.
                          business:
                            type: integer
                            description: Количество новых бизнес-пользователей.
                          manager:
                            type: integer
                            description: Количество новых менеджеров.
        '403':
          description: Доступ запрещен
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Access denied. Only administrators can view statistics.'
  /api/v1/users:
    get:
      tags:
        - Users
      summary: Получение списка пользователей с фильтрацией
      description: Этот эндпоинт позволяет получить список пользователей с возможностью фильтрации и сортировки. Доступен только для администраторов.
      security:
        - bearerAuth: []
      parameters:
        - name: skip
          in: query
          required: false
          description: Количество пропускаемых записей (для пагинации).
          schema:
            type: integer
            default: 0
        - name: take
          in: query
          required: false
          description: Количество записей на странице.
          schema:
            type: integer
            default: 10
        - name: role
          in: query
          required: false
          description: Фильтр по роли пользователя.
          schema:
            type: string
            enum: [administrator, business, manager]
        - name: search
          in: query
          required: false
          description: Поиск по email или имени пользователя.
          schema:
            type: string
        - name: sort
          in: query
          required: false
          description: Поле для сортировки.
          schema:
            type: string
            enum: [createdAt, email, role]
            default: createdAt
        - name: order
          in: query
          required: false
          description: Направление сортировки.
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - name: isActive
          in: query
          required: false
          description: Фильтр по статусу активности.
          schema:
            type: boolean
      responses:
        '200':
          description: Успешное получение списка пользователей
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            email:
                              type: string
                            name:
                              type: string
                            role:
                              type: string
                            isActive:
                              type: boolean
                            createdAt:
                              type: string
                              format: date-time
                            updatedAt:
                              type: string
                              format: date-time
                      pagination:
                        type: object
                        properties:
                          total:
                            type: integer
                            description: Общее количество записей.
                          page:
                            type: integer
                            description: Текущая страница.
                          pageSize:
                            type: integer
                            description: Размер страницы.
        '400':
          description: Ошибка валидации параметров
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
        '403':
          description: Доступ запрещен
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Access denied. Only administrators can view users list.'

  # Api keys
  /api/v1/api-keys/create-trial-key:
    post:
      # Краткое описание эндпоинта
      summary: Создание пробного API ключа
      # Подробное описание эндпоинта
      description: |
        Создает пробный API ключ с ограниченными возможностями.

        Особенности:
        - Фиксированный лимит токенов (50000)
        - Префикс ключа 'sk_trial_'
        - Обычный пользователь может создать только один ключ
        - Администраторы могут создавать ключи для других пользователей
        - Автоматически создает связанную статистику использования
        - Обновляет список ключей в профиле пользователя
      tags:
        - API Keys
      # Требуется авторизация через Bearer токен
      security:
        - BearerAuth: []
      # Тело запроса
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              # Обязательные поля
              required:
                - title
              properties:
                # Название ключа
                title:
                  type: string
                  minLength: 2
                  description: Название API ключа
                # Email владельца (только для администраторов)
                owner:
                  type: string
                  format: email
                  description: Email владельца (опционально, доступно только администраторам)
      responses:
        # Успешный ответ
        200:
          description: Пробный API ключ успешно создан
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      apiKey:
                        type: object
                        properties:
                          id:
                            type: string
                            example: 'sk_trial_1234567890abcdef'
                            description: Идентификатор API ключа с префиксом sk_trial_
                          owner:
                            type: string
                            format: email
                            description: Email владельца ключа
                          title:
                            type: string
                            description: Название ключа
                          tokenLimit:
                            type: integer
                            example: 50000
                            description: Фиксированный лимит токенов
                          isActive:
                            type: boolean
                            example: true
                            description: Статус активности ключа
                          createdAt:
                            type: string
                            format: date-time
                            description: Дата создания ключа
                          expiredAt:
                            type: string
                            format: date-time
                            nullable: true
                            description: Дата истечения срока действия (если установлена)
        # Ошибка авторизации
        401:
          description: Требуется авторизация
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: 'Authentication required'
        # Ошибка валидации
        400:
          description: Ошибка валидации данных
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    examples:
                      title_length:
                        value: 'Title must be at least 2 characters'
                      invalid_email:
                        value: 'Invalid email format'
        # Ошибка доступа
        403:
          description: Отказано в доступе
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 403
                  message:
                    type: string
                    examples:
                      already_has_key:
                        value: 'You already have an API key'
                      admin_only:
                        value: 'Only administrators can specify owner'
        # Серверная ошибка
        500:
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: 'Failed to create trial API key'
  /api/v1/api-keys/create:
    post:
      # Краткое описание эндпоинта
      summary: Создание полноценного API ключа
      # Подробное описание эндпоинта
      description: |
        Создает полноценный API ключ с расширенными возможностями. Доступно только администраторам.

        Особенности:
        - Префикс ключа 'sk_live_'
        - Срок действия по умолчанию 3 месяца
        - Минимальный лимит токенов 1000
        - Стандартный лимит токенов 100000
        - Автоматически создает связанную статистику использования
        - Добавляет ключ в список ключей пользователя
        - Транзакционное создание (атомарная операция)
        - Автоматическая генерация названия ключа
      tags:
        - API Keys
      # Требуется авторизация через Bearer токен
      security:
        - BearerAuth: []
      # Тело запроса
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              # Обязательные поля
              required:
                - owner
              properties:
                owner:
                  type: string
                  format: email
                  description: Email пользователя, которому будет принадлежать ключ
                tokenLimit:
                  type: integer
                  minimum: 1000
                  default: 100000
                  description: Лимит токенов для ключа
                expiredAt:
                  type: string
                  format: date-time
                  description: Дата истечения срока действия (по умолчанию +3 месяца)
      responses:
        # Успешный ответ
        200:
          description: API ключ успешно создан
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      apiKey:
                        type: object
                        properties:
                          id:
                            type: string
                            example: 'sk_live_1234567890abcdef'
                            description: Идентификатор API ключа с префиксом sk_live_
                          owner:
                            type: string
                            format: email
                            description: Email владельца ключа
                          title:
                            type: string
                            example: 'API key for user@example.com'
                            description: Автоматически сгенерированное название ключа
                          tokenLimit:
                            type: integer
                            example: 100000
                            description: Установленный лимит токенов
                          isActive:
                            type: boolean
                            example: true
                            description: Статус активности ключа
                          createdAt:
                            type: string
                            format: date-time
                            description: Дата создания ключа
                          expiredAt:
                            type: string
                            format: date-time
                            description: Дата истечения срока действия
        # Ошибка авторизации или доступа
        403:
          description: Отказано в доступе
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 403
                  message:
                    type: string
                    example: 'Access denied. Only administrators can create API keys.'
        # Ошибка валидации
        400:
          description: Ошибка валидации данных
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    examples:
                      invalid_email:
                        value: 'Invalid email format'
                      token_limit:
                        value: 'Token limit must be at least 1000'
        # Пользователь не найден
        404:
          description: Пользователь не найден
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: 'User not found'
        # Серверная ошибка
        500:
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: 'Failed to create API key'
  /api/v1/api-keys/update:
    patch:
      # Краткое описание эндпоинта
      summary: Обновление API ключа
      # Подробное описание эндпоинта
      description: |
        Обновляет параметры существующего API ключа.

        Особенности:
        - Обычные пользователи могут обновлять только название (title) своих ключей
        - Администраторы могут обновлять все поля любых ключей
        - Требуется указать хотя бы одно поле для обновления
        - Проверяется существование ключа и права доступа
        - Поддерживает частичное обновление (PATCH)
        - Возвращает обновленные данные ключа
      tags:
        - API Keys
      # Требуется авторизация через Bearer токен
      security:
        - BearerAuth: []
      # Тело запроса
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              # Обязательные поля
              required:
                - id
              properties:
                id:
                  type: string
                  description: Идентификатор API ключа
                title:
                  type: string
                  minLength: 2
                  description: Новое название ключа (доступно всем пользователям)
                tokenLimit:
                  type: integer
                  minimum: 1000
                  description: Новый лимит токенов (только для администраторов)
                isActive:
                  type: boolean
                  description: Статус активности ключа (только для администраторов)
                expiredAt:
                  type: string
                  format: date-time
                  description: Новая дата истечения срока действия (только для администраторов)
      responses:
        # Успешный ответ
        200:
          description: API ключ успешно обновлен
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      apiKey:
                        type: object
                        properties:
                          id:
                            type: string
                            example: 'sk_live_1234567890abcdef'
                          owner:
                            type: string
                            format: email
                          title:
                            type: string
                            example: 'Updated API Key Title'
                          tokenLimit:
                            type: integer
                            example: 100000
                          isActive:
                            type: boolean
                          createdAt:
                            type: string
                            format: date-time
                          expiredAt:
                            type: string
                            format: date-time
                          lastUsedAt:
                            type: string
                            format: date-time
                            nullable: true
        # Ошибка авторизации
        401:
          description: Требуется авторизация
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: 'Authentication required'
        # Ошибка валидации
        400:
          description: Ошибка валидации данных
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    examples:
                      no_data:
                        value: 'No data to update'
                      invalid_title:
                        value: 'Title must be at least 2 characters'
                      invalid_token_limit:
                        value: 'Token limit must be at least 1000'
        # Ошибка доступа
        403:
          description: Отказано в доступе
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 403
                  message:
                    type: string
                    example: 'Access denied. You can only update your own API keys.'
        # Ключ не найден
        404:
          description: API ключ не найден
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: 'API key not found'
        # Серверная ошибка
        500:
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: 'Failed to update API key'
  /api/v1/api-keys/delete:
    post:
      # Краткое описание эндпоинта
      summary: Удаление API ключа
      # Подробное описание эндпоинта
      description: |
        Удаляет API ключ и все связанные с ним данные. Доступно только администраторам.

        Особенности:
        - Только для администраторов
        - Транзакционное удаление (атомарная операция)
        - Каскадное удаление связанных данных
        - Автоматическое обновление списков ключей у пользователей
        - Возвращает информацию о затронутых пользователях
        - Удаляет статистику использования ключа
      tags:
        - API Keys
      # Требуется авторизация через Bearer токен
      security:
        - BearerAuth: []
      # Тело запроса
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
                  description: Идентификатор API ключа для удаления
                  example: 'sk_live_1234567890abcdef'
      responses:
        # Успешный ответ
        200:
          description: API ключ успешно удален
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        example: 'API key and all related data successfully deleted'
                      deletedKey:
                        type: object
                        properties:
                          id:
                            type: string
                            example: 'sk_live_1234567890abcdef'
                          owner:
                            type: string
                            format: email
                            example: 'user@example.com'
                          title:
                            type: string
                            example: 'Deleted API Key'
                      affectedUsers:
                        type: object
                        properties:
                          count:
                            type: integer
                            description: Количество затронутых пользователей
                            example: 1
                          emails:
                            type: array
                            description: Список email затронутых пользователей
                            items:
                              type: string
                              format: email
                            example: ['user@example.com']
        # Ошибка доступа
        403:
          description: Отказано в доступе
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 403
                  message:
                    type: string
                    example: 'Access denied. Only administrators can delete API keys.'
        # Ошибка валидации
        400:
          description: Ошибка валидации данных
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: 'API Key ID is required'
        # Ключ не найден
        404:
          description: API ключ не найден
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: 'API key not found'
        # Серверная ошибка
        500:
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: 'Failed to delete API key'
  /api/v1/api-keys/{id}/info:
    get:
      # Краткое описание эндпоинта
      summary: Получение детальной информации об API ключе
      # Подробное описание эндпоинта
      description: |
        Возвращает подробную информацию об API ключе, включая статус, использование и связанные данные.

        Особенности:
        - Доступно для владельца ключа, администраторов и пользователей с доступом к ключу
        - Показывает текущее использование токенов
        - Рассчитывает оставшееся время действия ключа
        - Проверяет срок истечения
        - Отображает связь с ботом (если есть)
        - Включает информацию о последнем использовании
      tags:
        - API Keys
      # Требуется авторизация через Bearer токен
      security:
        - BearerAuth: []
      # Параметры пути
      parameters:
        - name: id
          in: path
          required: true
          description: Идентификатор API ключа
          schema:
            type: string
            example: 'sk_live_1234567890abcdef'
      responses:
        # Успешный ответ
        200:
          description: Информация об API ключе успешно получена
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 'sk_live_1234567890abcdef'
                        description: Идентификатор API ключа
                      owner:
                        type: string
                        format: email
                        description: Email владельца ключа
                      title:
                        type: string
                        description: Название ключа
                      tokenUsed:
                        type: integer
                        description: Количество использованных токенов
                      tokenLimit:
                        type: integer
                        description: Общий лимит токенов
                      isActive:
                        type: boolean
                        description: Статус активности ключа
                      createdAt:
                        type: string
                        format: date-time
                        description: Дата создания ключа
                      expiredAt:
                        type: string
                        format: date-time
                        description: Дата истечения срока действия
                      lastUsedAt:
                        type: string
                        format: date-time
                        nullable: true
                        description: Дата последнего использования
                      isExpired:
                        type: boolean
                        description: Флаг истечения срока действия
                      daysUntilExpiration:
                        type: integer
                        description: Количество дней до истечения срока
                      botId:
                        type: string
                        nullable: true
                        description: ID связанного бота (если есть)
        # Ошибка авторизации
        401:
          description: Требуется авторизация
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: 'Authentication required'
        # Ошибка валидации
        400:
          description: Некорректный запрос
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: 'API Key ID is required'
        # Ошибка доступа
        403:
          description: Отказано в доступе
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 403
                  message:
                    type: string
                    example: 'Access denied'
        # Ключ не найден
        404:
          description: API ключ не найден
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: 'API key not found'
        # Серверная ошибка
        500:
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: 'Failed to get API key details'
  /api/v1/api-keys/{id}/users:
    get:
      # Краткое описание эндпоинта
      summary: Получение списка пользователей API ключа
      # Подробное описание эндпоинта
      description: |
        Возвращает список всех пользователей, имеющих доступ к API ключу.

        Особенности:
        - Доступно только владельцу ключа и администраторам
        - Разделяет пользователей на владельца и менеджеров
        - Возвращает детальную информацию о каждом пользователе
        - Включает общее количество пользователей с доступом
        - Фильтрует неактивных пользователей
        - Показывает корпоративную принадлежность
      tags:
        - API Keys
      # Требуется авторизация через Bearer токен
      security:
        - BearerAuth: []
      # Параметры пути
      parameters:
        - name: id
          in: path
          required: true
          description: Идентификатор API ключа
          schema:
            type: string
            example: 'sk_live_1234567890abcdef'
      responses:
        # Успешный ответ
        200:
          description: Список пользователей успешно получен
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      # Информация о владельце
                      owner:
                        type: object
                        description: Владелец API ключа
                        properties:
                          id:
                            type: string
                            description: Уникальный идентификатор пользователя
                          email:
                            type: string
                            format: email
                            description: Email пользователя
                          role:
                            type: string
                            description: Роль пользователя в системе
                          name:
                            type: string
                            description: Имя пользователя
                          companyName:
                            type: string
                            description: Название компании
                          isActive:
                            type: boolean
                            description: Статус активности пользователя
                          createdAt:
                            type: string
                            format: date-time
                            description: Дата регистрации пользователя
                      # Список менеджеров
                      managers:
                        type: array
                        description: Список пользователей с доступом к ключу (кроме владельца)
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            email:
                              type: string
                              format: email
                            role:
                              type: string
                            name:
                              type: string
                            companyName:
                              type: string
                            isActive:
                              type: boolean
                            createdAt:
                              type: string
                              format: date-time
                      # Общее количество
                      totalCount:
                        type: integer
                        description: Общее количество пользователей с доступом к ключу
                        example: 5
        # Ошибка авторизации
        401:
          description: Требуется авторизация
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: 'Authentication required'
        # Ошибка валидации
        400:
          description: Некорректный запрос
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: 'API Key ID is required'
        # Ошибка доступа
        403:
          description: Отказано в доступе
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 403
                  message:
                    type: string
                    example: 'Access denied'
        # Ключ не найден
        404:
          description: API ключ не найден
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: 'API key not found'
        # Серверная ошибка
        500:
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: 'Failed to get API key users'
  /api/v1/api-keys/{id}/statistics:
    get:
      # Краткое описание эндпоинта
      summary: Получение статистики использования API ключа
      # Подробное описание эндпоинта
      description: |
        Возвращает детальную статистику использования API ключа.

        Особенности:
        - Доступно администраторам и пользователям с доступом к ключу
        - Включает статистику использования токенов
        - Предоставляет метрики производительности
        - Показывает статистику чатов
        - Разделяет сообщения по типам (бот/человек/консультант)
        - Рассчитывает средние показатели
        - Отслеживает паттерны активности
        - Автоматически вычисляет среднее время ответа
      tags:
        - API Keys
        - Statistics
      # Требуется авторизация через Bearer токен
      security:
        - BearerAuth: []
      # Параметры пути
      parameters:
        - name: id
          in: path
          required: true
          description: Идентификатор API ключа
          schema:
            type: string
            example: 'sk_live_1234567890abcdef'
      responses:
        # Успешный ответ
        200:
          description: Статистика успешно получена
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      # Основные метрики
                      tokenUsed:
                        type: integer
                        description: Количество использованных токенов
                      totalChatsStarted:
                        type: integer
                        description: Общее количество начатых чатов
                      totalMessagesSent:
                        type: integer
                        description: Общее количество отправленных сообщений
                      requestsCount:
                        type: integer
                        description: Общее количество запросов
                      # Статистика по типам сообщений
                      messages:
                        type: object
                        description: Распределение сообщений по типам
                        properties:
                          bot:
                            type: integer
                            description: Количество сообщений от бота
                          human:
                            type: integer
                            description: Количество сообщений от пользователей
                          consultant:
                            type: integer
                            description: Количество сообщений от консультантов
                      # Метрики производительности
                      performance:
                        type: object
                        description: Показатели производительности
                        properties:
                          totalResponseTime:
                            type: integer
                            description: Общее время ответа (мс)
                          responseCount:
                            type: integer
                            description: Количество ответов
                          averageResponseTime:
                            type: number
                            description: Среднее время ответа (мс)
                      # Статистика чатов
                      chats:
                        type: object
                        description: Метрики чатов
                        properties:
                          completed:
                            type: integer
                            description: Количество завершенных чатов
                          averageDuration:
                            type: number
                            description: Средняя продолжительность чата (мс)
                          shortestDuration:
                            type: integer
                            description: Самый короткий чат (мс)
                          longestDuration:
                            type: integer
                            description: Самый длинный чат (мс)
                      # Паттерны активности
                      activity:
                        type: object
                        description: Показатели активности
                        properties:
                          mostActiveHour:
                            type: integer
                            description: Час наибольшей активности (0-23)
                          leastActiveHour:
                            type: integer
                            description: Час наименьшей активности (0-23)
                      updatedAt:
                        type: string
                        format: date-time
                        description: Время последнего обновления статистики
        # Ошибка авторизации
        401:
          description: Требуется авторизация
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: 'Authentication required'
        # Ошибка валидации
        400:
          description: Некорректный запрос
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: 'API key ID is required'
        # Ошибка доступа
        403:
          description: Отказано в доступе
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 403
                  message:
                    type: string
                    example: 'Access denied'
        # Статистика не найдена
        404:
          description: Статистика не найдена
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: 'Statistics not found'
        # Серверная ошибка
        500:
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: 'Failed to get API key statistics'
  /api/v1/api-keys/{id}/hourly-stats:
    get:
      # Краткое описание эндпоинта
      summary: Получение почасовой статистики API ключа
      # Подробное описание эндпоинта
      description: |
        Возвращает детальную статистику использования API ключа за последние 24 часа с разбивкой по часам.

        Особенности:
        - Доступно администраторам и пользователям с доступом к ключу
        - Показывает данные за последние 24 часа
        - Группировка по часам
        - Отслеживает динамику использования
        - Позволяет анализировать пиковые нагрузки
        - Помогает выявить паттерны использования
      tags:
        - API Keys
        - Statistics
      # Требуется авторизация через Bearer токен
      security:
        - BearerAuth: []
      # Параметры пути
      parameters:
        - name: id
          in: path
          required: true
          description: Идентификатор API ключа
          schema:
            type: string
            example: 'sk_live_1234567890abcdef'
      responses:
        # Успешный ответ
        200:
          description: Почасовая статистика успешно получена
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    description: Массив статистики по часам
                    items:
                      type: object
                      properties:
                        hour:
                          type: string
                          format: date-time
                          description: Временная метка часа
                        requestsCount:
                          type: integer
                          description: Количество запросов за час
                        tokenUsed:
                          type: integer
                          description: Количество использованных токенов
                        messagesSent:
                          type: integer
                          description: Общее количество сообщений
                        chatsStarted:
                          type: integer
                          description: Количество начатых чатов
                        averageResponseTime:
                          type: number
                          description: Среднее время ответа за час (мс)
                        messagesDistribution:
                          type: object
                          description: Распределение сообщений по типам
                          properties:
                            bot:
                              type: integer
                              description: Сообщения от бота
                            human:
                              type: integer
                              description: Сообщения от пользователей
                            consultant:
                              type: integer
                              description: Сообщения от консультантов
        # Ошибка авторизации
        401:
          description: Требуется авторизация
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: 'Authentication required'
        # Ошибка валидации
        400:
          description: Некорректный запрос
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: 'API key ID is required'
        # Ошибка доступа
        403:
          description: Отказано в доступе
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 403
                  message:
                    type: string
                    example: 'Access denied'
        # Серверная ошибка
        500:
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: 'Failed to get hourly statistics'
  /api/v1/api-keys/{id}/day-stats:
    get:
      # Краткое описание эндпоинта
      summary: Получение статистики API ключа за конкретный день
      # Подробное описание эндпоинта
      description: |
        Возвращает детальную статистику использования API ключа за указанный день.

        Особенности:
        - Доступно администраторам и пользователям с доступом к ключу
        - Требует указания конкретной даты
        - Формат даты строго YYYY-MM-DD
        - Агрегирует все метрики за 24 часа выбранного дня
        - Предоставляет полную статистику использования
        - Позволяет анализировать исторические данные
      tags:
        - API Keys
        - Statistics
      # Требуется авторизация через Bearer токен
      security:
        - BearerAuth: []
      # Параметры
      parameters:
        # Параметр пути
        - name: id
          in: path
          required: true
          description: Идентификатор API ключа
          schema:
            type: string
            example: 'sk_live_1234567890abcdef'
        # Query параметр
        - name: date
          in: query
          required: true
          description: Дата в формате YYYY-MM-DD
          schema:
            type: string
            pattern: '^\d{4}-\d{2}-\d{2}$'
            example: '2024-02-20'
      responses:
        # Успешный ответ
        200:
          description: Статистика за день успешно получена
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      date:
                        type: string
                        format: date
                        description: Дата статистики
                      summary:
                        type: object
                        description: Общие показатели за день
                        properties:
                          totalRequests:
                            type: integer
                            description: Общее количество запросов
                          totalTokens:
                            type: integer
                            description: Общее количество использованных токенов
                          totalMessages:
                            type: integer
                            description: Общее количество сообщений
                          uniqueUsers:
                            type: integer
                            description: Количество уникальных пользователей
                      messages:
                        type: object
                        description: Статистика сообщений
                        properties:
                          bot:
                            type: integer
                            description: Количество сообщений от бота
                          human:
                            type: integer
                            description: Количество сообщений от пользователей
                          consultant:
                            type: integer
                            description: Количество сообщений от консультантов
                      performance:
                        type: object
                        description: Показатели производительности
                        properties:
                          averageResponseTime:
                            type: number
                            description: Среднее время ответа за день (мс)
                          peakHour:
                            type: integer
                            description: Час пиковой нагрузки (0-23)
                          minHour:
                            type: integer
                            description: Час минимальной нагрузки (0-23)
        # Ошибка авторизации
        401:
          description: Требуется авторизация
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: 'Authentication required'
        # Ошибка валидации
        400:
          description: Некорректный запрос
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    examples:
                      no_id:
                        value: 'API key ID is required'
                      invalid_date:
                        value: 'Valid date is required (YYYY-MM-DD)'
        # Ошибка доступа
        403:
          description: Отказано в доступе
          content:
            application/json:
              schema:
                type: object
                properties:
[...]
